.tab-bar {
    background-color: #F7F7F7;
    position: fixed;
    width: 100%;
    bottom: 0;
    display:flex;
    justify-content: space-between;
    padding : 10px 30px 5px;
    border-top: 1px solid #c1c1c1;
    
}
.tab-bar .tab-bar_tab {
    display:flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 5px;
    color: #c1c1c1;
    transition: transform .3s linear;
}

.tab-bar .tab-bar_tab:hover {
    transform : scale(1.1);
}

.tab-bar .tab-bar_tab i{
    display: block;
    margin-bottom: 5px;;
    font-size: 24px;
}

.tab-bar .tab-bar-title {
    font-size: 10px;
}

.tab-bar .tab-bar_tab-selected {
    color: #523737;
}

